* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* === Font Families === */
  --ff-inter-t: "Inter Tight", sans-serif;
  --ff-inter: "Inter", sans-serif;

  /* === Font Styles (shorthand: weight size/line-height family) === */
  --font-title: bold 1.5rem/2rem var(--ff-inter); /* 24px / 32px */
  --font-paragraph-medium: 500 0.875rem/1.5rem var(--ff-inter); /* 14px / 24px */
  --font-paragraph-small: 500 0.75rem/1rem var(--ff-inter); /* 12px / 16px */
  --font-label-large: 700 1rem/1.5rem var(--ff-inter); /* 16px / 24px */
  --font-label-medium: 700 0.875rem/1.5rem var(--ff-inter); /* 14px / 24px */
  --font-label-small: 700 0.75rem/1rem var(--ff-inter); /* 12px / 16px */
  --font-link: 500 0.75rem/1rem var(--ff-inter); /* 12px / 16px */

  /* === Colors === */

  /* Content */
  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  /* Background */
  --background-primary: #151515;
  --background-secondary: #1e1e1e;
  --background-tertiary: #23242c;
  --background-brand: #9282fa;
  --background-highlights: #bdb4fa;

  /* Border */
  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-brand: #9282fa;
  --border-divisor: #353339;

  /* Accent */
  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;
}

body {
  background-color: var(--background-primary);
}
